<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="applicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="specialAppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpikeContainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <SpikeContainer.Properties.Settings>
      <setting name="MainPassword" serializeAs="String">
        <value>Ominvore</value>
      </setting>
      <setting name="SpecialUser" serializeAs="String">
        <value>Marlin Perkins</value>
      </setting>
      <setting name="SpecialDomain" serializeAs="String">
        <value>WildKindom</value>
      </setting>
      <setting name="LastPTMELogRunTime" serializeAs="String">
        <value>2017-09-24</value>
      </setting>
    </SpikeContainer.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="SpikeContainer.Properties.Settings.TestMesDbConnectionString" connectionString="Data Source=MANUFACTURING;Initial Catalog=TestMesDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MesDbModel" connectionString="data source=MANUFACTURING;initial catalog=TestMesDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TestMesDbEntities" connectionString="metadata=res://*/DataEntitiy.MesDbModel.csdl|res://*/DataEntitiy.MesDbModel.ssdl|res://*/DataEntitiy.MesDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MANUFACTURING;initial catalog=TestMesDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="Author" value="Jeffrey Hyder" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <setting name="Company" serializeAs="String">
      <value>Polartec Tennesee Manufacturing</value>
    </setting>
    <setting name="Product" serializeAs="String">
      <value>Finished Textiles</value>
    </setting>
    <setting name="Who" serializeAs="String">
      <value>Polartec Tennesee Manufacturing</value>
    </setting>
    <setting name="What" serializeAs="String">
      <value>Polartec Tennesee Manufacturing</value>
    </setting>
  </applicationSettings>
  <specialAppSettings>
    <setting name="Frankeinstein" serializeAs="String">
      <value>The Monster is ALIVE!</value>
    </setting>
  </specialAppSettings>
  <userSettings>
    <SpikeContainer.Properties.Settings>
      <setting name="ScreenSize" serializeAs="String">
        <value>A big boinking Monitor</value>
      </setting>
      <setting name="ScreenResolution" serializeAs="String">
        <value>Fine fine detail</value>
      </setting>
    </SpikeContainer.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>